@charset "utf-8";

body {
    font-family: Georgia, sans-serif;
    color: #000;
    background: #eee;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    background: #ddd;
    color: #000;
    width:108%;
    border-radius: 4px;
    text-align: justify;
    padding: 2px 5px;
}

header h2 {
    font-style: italic;
    font-size: 25px;
    font-weight: normal;
    background: #000;
    color: #fff;
    width: 60%;
    border-radius: 4px;
    padding: 2px 5px;
    text-align: center;
    margin-left: 25%;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 4px;
    padding: 2px 5px;
    margin-bottom: 20px;
}

h3 {
    font-style: italic;
    font-size: 25px;
    background: #000;
    color: #fff;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 5px auto;
}

h5 {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center;
    clear: both;
}

p {
    font-size: 1.4em;
}

.logo {
    width: 120px;
    height: 100px;
    margin-top: 20px;
}

.titles {
    margin-top: 20px;
    margin-left: -30px;
}

.myPic {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 5px;
}

header {
    background: #3b5998;
    padding: 5px 0px;
    margin-top: 10px;
    border-radius: 4px;
}

hr {
    display: block;
    border-top: 1px solid #aaa;
    margin: 1em 0;
}

.projectPic {
    height: 300px;   
    margin-top: 20px;    
}

.slideShow {
    height: 420px;
    width: 100%;
}

.top_of_page {
	width: 70px;
	height: 70px;
	float: right;
    display: inline;
}

footer p {
    font-family: sans-serif;
    clear: both;
    color: blue;
    font-size: 0.8em;
    text-decoration: blink;
    text-align: center;
}


/* Project Pic dimensions*/

footer img {
    height: 13px;
}

.movieTrailer {
    width: 49%;   
}

.portfolio {
    width: 29%;   
}

.logsAnalysis {
    width: 32%;   
}

.itemCatalog {
    width: 31%;   
}

.map {
    width: 44%;   
}

.linuxConfig {
    width: 60%;   
}

/* Media queries*/

/* for ipad pro */

@media screen and (max-width:1024px) and (min-width:769px){

    h1 {
        font-size: 50px;
        width: 110%;
    }
    
    header h2 {
        font-size: 2em;
        width: 80%;
        margin-left: 45px;
    }
    
    p {
        font-size: 2.3em;
    }
    
    .movieTrailer {
        width: 60%;   
    }
    
    .portfolio {
        width: 36%;   
    }
    
    .logsAnalysis {
        width: 40%;   
    }
    
    .itemCatalog {
        width: 39%;   
    }
    
    .map {
        width: 54%;   
    }
    
    .linuxConfig {
        width: 74%;   
    }
    
    a {
        font-size: 26px;
    }
    
    footer p {
        font-size: 1.5em;
    }
    
    h5 {
        font-size: 1.6em;
    }
    
    footer img {
        height: 0.8em;
    }
}

/* for ipad */

@media screen and (max-width:768px) and (min-width:413px){
    h1 {
        margin: 0px auto;
        text-align: center;
        width: 53%;
    }
    
    header h2 {
        font-size: 2.3em;
        margin: 0px auto;
        text-align: center;
        width: 35%;        
    }
    
    h2 {
        font-size: 2.3em;          
    }
    
    p {
        font-size: 2em;
    }
    
    .projectPic {
        margin: 10px auto;
    }
    
    .movieTrailer {
        width: 38%;   
    }
    
    .portfolio {
        width: 23%;   
    }
    
    .logsAnalysis {
        width: 25%;   
    }
    
    .itemCatalog {
        width: 24%;   
    }
    
    .map  {
        width: 34%;   
    }
    
    .linuxConfig {
        width: 46%;   
    }
    
    a {
        font-size: 26px;
    }
    
    footer p {
        font-size: 1.5em;
    }
    
    h5 {
        font-size: 1.6em;
    }
    
    footer img {
        height: 0.8em;
    }
    
    .myPic {
        float: left; 
    }
    
    .logo {
        float: right;
    }
    
    header {
        padding-bottom: 20px;
    }
    
    /* for Nexus5 */
}

@media screen and (max-width:412px) {
    
    .myPic {
        height: 70px;
        width: 70px;
        float: left; 
    }
    
    .logo {
        height: 70px;
        width: 70px;
        float: right;
    }
    
    h1 {
        font-size: 2.3em;
        margin: 30px 0px 0px 116px;
        text-align: center;
        width: 52%;
    }
    
    header h2 {
        font-size: 1.4em;
        margin: 0px 0px 10px 146px;
        width: 38%;
    }
    
    h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    
    .slideShow {
        height: 200px;      
        margin-bottom: 10px;
    }
    
    .projectPic {
        margin: 10px auto;
        height: 200px;
    }
    
    .movieTrailer {
        font-size: 1.3em;
        width: 52%;   
    }
    
    .portfolio {
        font-size: 1.3em;
        width: 30%;   
    }
    
    .logsAnalysis {
        font-size: 1.3em;
        width: 35%;   
    }
    
    .itemCatalog {
        font-size: 1.3em;
        width: 32%;   
    }
    
    .map {
        font-size: 1.3em;
        width: 45%;   
    }
    
    .linuxConfig {
        font-size: 1.3em;
        width: 63%;   
    }
    
    a {
        font-size: 18px;
    }
    
    footer p {
        font-size: 1.1em;
    }
    
    h5 {
        font-size: 1.2em;
    }
    
    footer img {
        height: 0.8em;
    }

}
